* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e6fa;
  min-height: 100vh;
}

input {
  padding-left: 2px;
}
.header {
  background-color: #b0c4de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.search-box {
  width: 345px;
  height: 40px;
  display: flex;
  border: 1px solid #e6e6fa;
  padding: 20px 0;
}

.search-input {
  font-size: 24;
  width: 290px;
  text-align: center;
  outline: none;
  float: left;
  padding: 5px 10px;
}

.search-btn {
  width: 50px;
  height: 99%;
  border: 1px solid #e6e6fa;
  background-color: #e6e6fa;
  padding: 5px;
}

.search-btn:hover {
  border: 1px solid #333;
}

.card-box {
  width: 100%;
  margin: 20px 20px;
  padding: 0px 0px 0px 180px;
  box-shadow: 0px 0px 3px 0px gray;
  flex-wrap: wrap;
  display: flex;
}
.card {
  width: 20%;
  margin: 20px 20px 20px 20px;

  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.card > img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.card-body {
  padding: 3px;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  float: left;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 800px;
  height: 400px;
  background-color: #e6e6fa;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.modal-content > img {
  border-radius: 8px;
  width: 30%;
  height: 380px;
}
.detail-body {
  width: 40%;
  padding: 0px 10px;
  text-align: left;
}
.detitle {
  width: 100%;
  font-size: 22px;
  padding: 2px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  box-shadow: 0px 0px 3px 0px gray;
}
.contents {
  height: 75%;
  padding: 2px;
  margin-bottom: 10px;
  text-align: left;
  overflow: auto;
  box-shadow: 0px 0px 3px 0px gray;
}

.date {
  height: 5%;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 2px;
  box-shadow: 0px 0px 3px 0px gray;
}
.rate {
  height: 5%;
  font-size: 12px;
  padding: 2px;
  box-shadow: 0px 0px 3px 0px gray;
}
.post {
  width: 30%;
  text-align: right;
  
}

.post-form {
  height: 28%;
}
#review {
  box-shadow: 0px 0px 3px 0px gray;
  width: 40px;
  border: 1px solid #e6e6fa;
  background-color: #e6e6fa;
  cursor: pointer;
}
#close-modal {
  box-shadow: 0px 0px 3px 0px gray;
  width: 40px;
  
  border: 1px solid #e6e6fa;
  background-color: #e6e6fa;
  cursor: pointer;
} 
.nick-name{
  width: 100%;
  height: 25px;
  margin-bottom: 2px;
}
.password {
  width: 100%;
  height: 25px;
  margin-bottom: 2px;
}
.content {
  width: 100%;
  height: 25px;
  margin-bottom: 2px;
}
.review-box {
  padding: 1px;
  text-align: left;
  height: 65%;
  overflow: auto;
}
.comment {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  margin: 5px 0px;
  box-shadow: 0px 0px 3px 0px gray;
}

.nocomments {
  margin-top: 10px;
}